

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}





/* Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-list,
.header-address {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    display: block;

    padding: 16px 0;
}

.header-logo-span {
    color: #4d5ae5;
}

.mobile-nav-btn {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

.mobile-nav-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .mobile-nav-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link.current {
        position: relative;
    }

    .header-nav-link.current::after {
        content: "";
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    .header-address {
        font-style: normal;
        display: block;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-address-link {
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link:hover,
    .header-nav-link:focus,
    .header-address-link:hover,
    .header-address-link:focus,
    .header-nav-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .header-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}




/* Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding: 72px 16px 40px 16px;
    
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-button-close {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2E2F42;
    background-color: transparent;
    width: 24px;
    height: 24px;

    position: absolute;
    top: 24px;
    right: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-button-close:hover,
.mobile-button-close:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:hover,
.mobile-address-link:focus {
    color: #4d5ae5;
}

.mobile-list-sm {
    display: flex;
    gap: 40px;
}

.mobile-list-sm-icon {
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #F4F4FD;
    width: 40px;
    height: 40px;
    display: block;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.mobile-sm-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-list-sm-icon:hover,
.mobile-list-sm-icon:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}







/* Main first section */

.first-section {
    padding: 72px 0 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-resolution: 2x) {
    .first-section {   
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob\ 2x.jpg);
    }
}

.first-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    max-width: 216px;
    margin: 0 auto;
    padding-bottom: 72px;
}

.first-section-button {
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover,
.first-section-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .first-section {
        padding: 112px 0 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
        max-width: 768px;
    }

    .first-section {
        @media screen and (min-resolution: 2x) {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab\ 2x.jpg);
        }
    }
       
    .first-section-title {
        font-size: 56px;
        line-height: 1.07143;
        
        max-width: 496px;
        padding-bottom: 36px;
    }
}
   
@media screen and (min-width: 1158px) {
    .first-section {
        padding: 188px 0 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-dt.jpg);
        max-width: 1440px;
    }

    .first-section {
        @media screen and (min-resolution: 2x) {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-dt\ 2x.jpg);
        }
    }

    .first-section-title {
        padding-bottom: 48px;
    }
}






/* Main section features*/

.features-list-icon {
    display: none;
}

.section-features {
    padding: 96px 0;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
}

.features-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .features-list-title {
        text-align: left;
    }

    .features-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .section-features {
        padding: 120px 0;
    }

    .features-list {
        flex-wrap: nowrap;
        align-items: center;
        gap: 24px;
    }

    .features-list-item {
        width: calc((100% - 72px) / 4);
    }

    .features-list-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        display: flex;

        position: relative;
    }

    .features-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .features-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-list-text {
        font-weight: 500;
    }
}





/* Main section team*/

.section-team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    padding-bottom: 72px;
    margin: 0 auto;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin: 0 auto;
}

.team-list-item {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-list-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    padding: 32px 16px;
}

.team-list-sm {
    display: flex;
    gap: 24px;
}

.team-list-sm-icon {
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #F4F4FD;
    width: 40px;
    height: 40px;
    display: block;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.team-sm-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-list-sm-icon:hover,
.team-list-sm-icon:focus {
    background-color: #404bbf;
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
        padding: 0 108px;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 0;
    }

    .team-list-item {
        width: calc((100% - 72px) / 4);
    }
}































































@media screen and (min-resolution: 2x) {
    
}




